@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ##################  Header ########################## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.navbar .container{
    padding: 3rem 10rem;
}

.navbar{
    background-color: #263238;
}

.navbar a:link{}
.navbar a:visited{}
.navbar a:hover{border-bottom: 2px solid white;}

.logo{
    font-size: 2rem;
    color: white;
    letter-spacing: 0.3rem;
    float: left;
}

.navitems .navitem{
    list-style-type: none;
    display: inline-block;
}

ul li a{
    font-size: 1.7rem;
    color: white;
    letter-spacing: 0.3rem;
    margin-left: 1.8rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.navitems{
    float: right;
}


.clearfix{
    clear: both;
}

/* ##################  Header finish ########################## */

/* ############################# mid section ###################### */

section.showcase{
    background-color: #ddd;
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.showcase .container{
    height: 64rem;
}

.box{
    width: 49%;
    height: 60rem;
}

.box1{
    float: left;
    background-color: white;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
    padding: 1rem;
}

.box2{
    float: right;
    background-color: white;
    letter-spacing: 0.2rem;
    padding: 1rem;
}

/* ############################# mid section fininsh #################### */


/* ########################### box 1 ################################ */

.lg-heading{
    font-size: 2rem;
    font-weight: 500;
}

.para{
    font-size: 1.5rem;
}

.para1, .para2, .para3{
    margin-bottom: 1rem;
}

.icon1{
    font-size: 2rem;
    color: red;
    margin-right: 1rem;
}

img{
    max-width: 100%;
    min-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ####################### box 1 finish ######################### */

/* ########################### box 2 #################################### */

.box2-heading{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

hr{
    border: solid red 0.3rem;
    margin: 1rem 0;
}

.para4{
    line-height: 2rem;
    margin-bottom: 2rem;
}

.box2 .contact-form .label-items{
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0;
}

.input-box{
    font-size: 2rem;
    margin-top: 0.2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.txt-area{
    margin-top: 0.2rem;
    width: 100%;
    height: 21rem; 
    margin-bottom: 3rem;
}

a.submit-link{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0px;
    background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
    text-decoration: none;
    color: white;
    padding: 0.4rem 4rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* ############################ box 2 finish ############################### */

/* ######################## footer ######################### */

.foot{
    background-color: #263238;
}

.center{
    color:  white;
    text-align: center;
}

.icon{
    font-size: 3.2rem;
    margin: 2rem 0;
    padding: 0 2rem;
}

.footpara{
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    padding-bottom: 2rem;
}


/* ############################ footer finish ############################ */


/* ###################### making contact page responsive ############################ */

@media (min-width:1231px) and (max-width:1300px){
     

    .txt-area{
        height: 19rem;
    }

    img{
        height: 55%;
    }

    .navbar .container{
        padding-left: 18rem;
        padding-right: 18rem;

    }

}

@media (max-width:1230px){
    
    
    .txt-area{
        height: 19rem;
    }

    img{
        height: 55%;
    }

    section.showcase{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width:1070px){
    .para4{
        margin-bottom: 1rem;
    }
    
    .box1{
        letter-spacing: 0.1rem;
    }
    
    .box2{
        letter-spacing: 0.1rem;
    }
}



@media (max-width:990px){
    
    section.showcase{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .navbar .container{
        padding-left: 7rem;
        padding-right: 7rem;
        
    }
    
}

@media (max-width:800px){

    html{
        font-size: 50%;
    }

    .logo, .navitems{
        float: none;
        text-align: center;
    }

    .logo{
        margin-bottom: 10px;
    }

    .box1, .box2{
        float: none;
        width: 100%;
    }

    img{
        width: 100%;
    }

    .showcase .container{
        height: auto;
    }

    .box{
        height: auto;
    } 

    section.showcase{
        height: 100%;
    }

    section.showcase{
        padding: 0;
    }

    .navbar .container[
        padding: 0;
    ]

}
